.video-seeker {
    width: 100%;
}

.recording-bar {
    position: relative;
    height: 20px;

    .recorded-rep {
        position: absolute;
        background-color: red;
        height: 100%; 
    }
}