<button type="button" class="btn btn-primary" (click)="onGoBackClick()">Go back</button>

<app-video 
videoId="workout-component-video"
[videoUrl]="videoUrl"
[videoPlay]="videoShouldPlay"
[setSeekerLocation]="setSeekerLocation"
(errorEvent)="onVideoError($event)" 
(progressEvent)="onVideoProgress($event)"
(readyEvent)="onVideoReady($event)"
(videoPlayEvent)="onVideoPlay($event)"
(videoPauseEvent)="onVideoPause($event)">
</app-video>

<div class="video-controls" *ngIf="videoReady">
<input type="range" class="video-seeker" [value]="seekerLocation" (click)="onSetSeekerLocation($event)" step="any" min="0" max="1">

<div class="recording-bar">
    <div class="recorded-rep" *ngFor="let rep of this.recordedReps" 
    [ngStyle]="{'left': rep.startTime * 100 + '%', 'width': rep.length * 100 + '%' }"></div>
</div>

<ng-container *ngIf="isVideoPlaying; then videoplayingTemplate; else videoPausedTemplate"></ng-container>

<ng-template #videoplayingTemplate>
    <button type="button" class="btn btn-primary" (click)="onVideoPauseClick()">Pause</button>
    <button type="button" class="btn btn-primary" (click)="onVideoRecordClick()">{{isRecording ? 'recording' : 'record'}}</button>
    <button type="button" class="btn btn-primary" (click)="onVideoPreviewClick()" *ngIf="this.recordedReps.length > 0">Preview</button>
</ng-template>
<ng-template #videoPausedTemplate>
    <button type="button" class="btn btn-primary" (click)="onVideoPlayClick()">Play</button>
    <button type="button" class="btn btn-primary" (click)="onVideoRecordClick()" *ngIf="this.recordedReps.length > 0">Preview</button>
</ng-template>
</div>